#carouselExampleControls {
    border: none;
    padding: 0;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.content {
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box_set {
    padding: 20px 0;
}
.box_set .icon {
    display: inline-block;
    background: #6da53b;
    padding: 5px;
    border-radius: 50%;
    width: 55px;
    line-height: 45px;
    text-align: center;
}

.box_set .set_content {
    display: inline-block;
    width: calc(100% - 67px);
    margin-left: 7px;
    vertical-align: top;
}

.box_set .icon img {
    max-width: 35px;
}

.box_set p.tt_boxser {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.main-col {
    margin: auto;
    overflow: hidden;
}

.new_title {
    padding: 10px;
    color: #000000;
    margin: 0 auto 10px;
    text-transform: none;
}

    .new_title h2 a {
        color: #444;
        font-weight: 700;
        font-size: 27px;
        text-decoration: none;
    }

    .new_title h2:hover a {
        color: #6da53b;
    }

.product__m__c__content__item {
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.product__m__c__content__item__image {
    width: 100%;
    overflow: hidden;
}
    .product__m__c__content__item__image img {
        width: 100%;
        max-width: 100%;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all;
        border-radius: 8px;
    }
.product__m__c__content__item h2 {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    z-index: 99;
    bottom: 0;
    background-color: rgba(0,32,38,.9);
    cursor: pointer;
}
.product__m__c__content__item__image:hover img {
    -webkit-transition: .3s all;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}
.img-wrap img{
    width:100%;
}

.title {
    margin-bottom: 30px;
    color: #444;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}   
    .title:hover {
        color: #6da53b;
        text-decoration: none;
    }
